.hadis-container{
    width: 100%;
    text-align: center;
    position: relative;
}

.hadis-container h2{
    font-size: 40px;
    font-weight: bold;

    padding: 70px 30px;
    color: var(--main-color);
    margin-top: 20px;
    
}

.hadis-box{
    
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 80%;
        margin: auto;
        font-size: 20px;
        line-height: 1.8;
        border: 2px solid var(--main-color);
        
    }
    
   


.hadis-box p{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
}


.navigation .nav-button{
    background: white;
    border: 2px solid green;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin: 30px;
    
}

.navigation .nav-button:hover{ 
      background: green;
    color: white;
}