@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=Lalezar&family=Reem+Kufi:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@300;400;500;700;800;900&display=swap');

body{
  font-family: "Amiri", serif !important;
  margin: 0;
  padding: 0;
  
}

html{


}

:root{
  --main-color:green;
  --sup-color:#fff;
}

section{
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 25px 0px;
  margin-top: 50px;

}

a {
  text-decoration: none;
}